.svelte-tabs__tab.svelte-dw8jip {
	border: none;
	border-bottom: 2px solid transparent;
	color: #000;
	cursor: pointer;
	display: inline-block;
	list-style: none;
	padding: 0.5em 0.75em;
}
.svelte-tabs__tab.svelte-dw8jip:focus {
	outline: thin dotted;
}
.svelte-tabs__selected.svelte-dw8jip {
	border-bottom: 2px solid #4f81e5;
	color: #4f81e5;
}
.svelte-tabs__tab-list.svelte-10iava4 {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
}
.svelte-tabs__tab-panel.svelte-vl3qcy {
	margin-top: 0.5em;
}
.unlimited.svelte-1ijg4ko {
	height: 75vh;
	overflow-y: auto;
}
div.svelte-1ijg4ko::-webkit-scrollbar {
	display: none;
	width: 4px;
}
div.svelte-1ijg4ko::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(250, 5, 5, 0.3);
}
div.svelte-1ijg4ko::-webkit-scrollbar-thumb {
	background-color: #a9a9a9;
	outline: 1px solid #708090;
}
@media only screen and (max-height: 550px) {
	.unlimited.svelte-1ijg4ko {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
}
@media only screen and (max-width: 600px) {
	.unlimited.svelte-1ijg4ko {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
}
.unlimited.svelte-1jmvu5x.svelte-1jmvu5x {
	height: 75vh;
	overflow-y: auto;
}
div.svelte-1jmvu5x .svelte-1jmvu5x::-webkit-scrollbar {
	display: none;
	width: 4px;
}
div.svelte-1jmvu5x .svelte-1jmvu5x::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(197, 119, 119, 0.3);
}
div.svelte-1jmvu5x.svelte-1jmvu5x::-webkit-scrollbar-thumb {
	background-color: #a9a9a9;
	outline: 1px solid #708090;
}
@media only screen and (max-height: 550px) {
	.unlimited.svelte-1jmvu5x.svelte-1jmvu5x {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
}
@media only screen and (max-width: 600px) {
	.unlimited.svelte-1jmvu5x.svelte-1jmvu5x {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
}
.svelte-tabs li.svelte-tabs__selected {
	border-bottom: 4px solid #00917c;
	color: #00917c;
	font-weight: 800;
}
.svelte-tabs li.svelte-tabs__selected:active,
.svelte-tabs li.svelte-tabs__selected:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.svelte-tabs__tab-list {
	align-items: center !important;
	border-bottom: 0 solid #423 !important;
	display: flex;
	width: 100% !important;
}
.svelte-tabs__tab-list li {
	align-items: center !important;
	width: 50%;
}
