.border-green-new.svelte-2ch0jb {
	border-color: #00917c;
}
.bg-green.svelte-2ch0jb {
	background-color: #00917c;
}
.bg-logout.svelte-2ch0jb {
	background-color: #e74343;
}
.text-green.svelte-2ch0jb {
	color: #00917c;
}
